## Setup inicial - Bibliotecas e importação de dados

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("data/machine1.csv")

In [4]:
df.head(5)

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

## 1. Categorias únicas de cada variável qualitativa

Toda variável qualitativa possui um conjunto  
finito de valores que ela pode assumir, que  
nós chamamos de "categorias únicas".

O dataset em questão traz um total de  
**três variáveis qualitativas**:  
"*cash_type*", "*card*" e "*coffee_name*".

Para exibir as categorias únicas de cada variável  
qualitativa, basta usar a função `unique()`.

In [5]:
df["cash_type"].unique()

array(['card', 'cash'], dtype=object)

In [6]:
df["card"].unique()

array(['ANON-0000-0000-0001', 'ANON-0000-0000-0002',
       'ANON-0000-0000-0003', ..., 'ANON-0000-0000-1314',
       'ANON-0000-0000-1315', 'ANON-0000-0000-1316'],
      shape=(1317,), dtype=object)

In [7]:
df["coffee_name"].unique()

array(['Latte', 'Hot Chocolate', 'Americano', 'Americano with Milk',
       'Cocoa', 'Cortado', 'Espresso', 'Cappuccino'], dtype=object)